@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #262624;
    font-family: 'Poppins',sans-serif;
}
/* app container */
.generator-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 86%;
    margin-top: 5%;
    background-color: #0D0D0D;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 2px #181818);
    border: 2px solid #A6882E;
}
/* header */
.header-container {
    width: 100%;
    background-color: transparent;
    text-align: center;
}

.header-container h1 {
    font-family: 'Poppins', sans-serif;
    padding: 1rem 0;
    font-weight: bold;
    line-height: 2rem;
    color: #DFEBF2;
}

.header-container p {
    font-size: 0.9rem;
    font-weight: bold;
    color: #BF8641;
}
/* password span */
.password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 57px;
    margin: 5%;
    gap: 1rem;
}

.password {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80%;
    align-items: center;
    margin: 1rem 0;
    text-align: center;
    background-color: transparent;
    border: none;
    background-color: #262624;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #DFEBF2;
    box-shadow: inset 2px 2px 2px  #181818;
    border: 1px solid #A6882E;
    overflow: hidden;
}

.copy-password {
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin-right: 0.3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #A6882E;
    font-size: 1.5rem;
    filter: drop-shadow(1px 1px 1px #181818);
}

.copy-password:hover {
    color: #BF8641;
}

/* settings section */

.settings-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    background-color: #262624;
    margin: auto;
    max-height: 100vh;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px  #181818;
    border: 1px solid #A6882E;
}

.char-settings {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    width: 80%;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.char-settings input {
    cursor: pointer;
}

.nr {
    width: 40px;
    font-size: 1rem;
    color: #181818;
    border: none;
    outline: none;
    transform: scale(1.2);
}

.checkbox {
    accent-color: #BF8641;
    transform: scale(1.2);
    -webkit-appearance: none;
    background-color: #262624; 
    width: 15px;
    height: 15px;
    border: 1px solid #BF8641;
    border-radius: 2px;
}

.checkbox:hover {
    background-color: #BF8641;
}

.checkbox:checked {
    -webkit-appearance: button;
  
    accent-color: #BF8641;
}

/* button container */

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.btn {
    width: 100%;
    background-color: #BF8641;
    border: none;
    border-radius: 5px;
    color: #181818;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 1.1rem;
    padding: 0.5rem;
    filter: drop-shadow(2px 2px 2px #181818);
}

.btn:hover {
    color: white;;
}

@media (min-width: 650px) {
.generator-container {
    max-width: 600px;
}
}

